html {
    background-color: rgba(238, 236, 236, 0.726);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
}
body {
    background-color: #0cabba;
}
h1 {
    font-size: 36px;
    text-align-last: center;
    color: #010101;
    font-family: "Merriweather", Georgia, serif;
}
h2 {
    text-align: center;
    color: peachpuff;
}
p {
    margin: 12px;
    text-align: left;
    font-size: large;
    color: black;
    font-family: 'Times New Roman', Times, serif;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border: 3px solid #010101;
    border-radius: 8px;
}
li {
    padding-left: 8px;
    margin-bottom: 12px;
}
.bold { font-weight: bold; }
.pad { padding-left: 12px; }
iframe {
    align-self: center;
}